
.footer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align:left;
    margin-top: 12vw;
}

.footer h3 , p{
    color: #121110;
    font-size: 1.2em;
}



.footer a{
    text-decoration: none;
    color: #121110;
    border: 1px solid red;
    border-radius: 25px;
    padding: 3.2px 15px;
    transition: 2s ease;
}

.footer a:hover {
    background-color: red;
    color: white;
}