*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  justify-self: center;
  gap: 25px;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0px 5px 20px rgba(228, 11, 11, 0.3);
}

.container h2 {
  
}