.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard h1 {
  text-align: center;
  font-size: 5em;
}

.dashboard button {
  align-self: center;
  padding: 3rem;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  background-color: rgb(29, 103, 240);
  font-weight: 600;
  font-size: 2em;
}

.dashboard button:hover {
  background-color: rgba(29, 103, 240, 0.7);
}