.lista-usuarios{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-usuarios h1{
  font-size: 5em;
}

.novo-usuario{
  padding: 2rem;
  border-radius: 30px;
  border: none;
  background-color: rgb(3, 64, 156);
  color: #fefefe;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2em;
}

.novo-usuario:hover{
  transition: background-color 0.9s ease-in-out;
  background-color: rgba(3, 64, 156, 0.2);
}

.lista{
  list-style: none;
}

.users{
  display: flex;
  gap: 5rem;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 15px;
}


.btn-edit{
  padding: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(200, 255, 47);
}

.btn-edit:hover{
  transition: background 0.3s ease-in-out;
  background-color: rgba(200, 255, 47, 0.5);
}

.btn-del{
  padding: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(255, 89, 47);
}

.btn-del:hover{
  transition: background 0.3s ease-in-out;
  background-color: rgb(251, 86, 45, 0.3);
}

.btn-dashboard {
  padding: 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(21, 132, 244);
  color: #fefefe;
  font-weight: 600;
}


.btn-edit:hover{
  transition: background 0.3s ease-in-out;
  background-color: rgba(47, 151, 255, 0.5);
}