.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login h1 {
   font-size: 5em;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  border: 2px solid black;
  padding: 3.5rem;
  border-radius: 30px;
  background-color: rgba(227, 240, 251, 0.5);
  box-shadow: 0px 10px 15px black;
}

.form label{
  font-weight: 600;
  font-size: 1.7em;
}

.form input{
  padding: 1rem 10rem;
  border-radius: 25px;
  border: 1px solid;
}

.form button{
  padding: 1.2rem 10rem; 
  border-radius: 15px;
  border: 1px solid;
}

.erro{
  color: rgb(252, 0, 0);
  font-size: 1.5em;
  font-weight: 600;
}
.btn-entrar{
  background-color: rgb(34, 234, 81, 1);
  cursor: pointer;
}

.btn-entrar:hover{
  transition: background 0.3s ease-in;
  background-color: rgb(34, 234, 81, 0.3);
}

.btn-canc{
  background-color: rgb(234, 34, 34);
  cursor: pointer;
  margin-left: 5rem;
}

.btn-canc:hover{
  transition: background 0.3s ease-in;
  background-color: rgb(234, 34, 34, 0.3);
}

.btn-login{
  background-color: rgb(34, 234, 81, 1);
  cursor: pointer;
  padding: 1.5rem 8rem; 
  border-radius: 15px;
  border: 1px solid;
}