.header {
    /*background-color: #1e3a8a;*/

    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 40px 6px rgba(0, 0, 0, 0.1);*/
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.header nav ul li {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
}
.header nav ul li a {
    color:#140202;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px 20px;
    background-color: rgb(234, 46, 25);
    font-weight: 300;
}
.header nav ul li a:hover {
    color: #fefefe;
    font-size: 1.12rem;
}



/*nav li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1.2rem;
}

nav a{
    text-decoration: none;
    border: 1px solid black;
    padding: 25px;
    border-radius: 22px;
    margin-top: 20px;
   
}
    */