.user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.user-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 80%;
}

.user-list li {
    text-decoration: none;
    background: #f8d7da;
    padding: 8px;
    font-weight: 650;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    justify-content:space-between;
}

.user-list li p {
    text-align: center;
    font-weight: 650;
}

.user-list li button {
    padding: 5px;
    background-color: #f8d7da;
    border-radius: 5px;
    cursor: pointer;
    color: red;
}


.user-list li button:hover {
    transition: background color 0.3s ease;
    background-color: red;
    color:#fefefe;
}
