.ex1{
  background-color: aliceblue;
  align-items: center;
  border: 1px dotted black;
  border-radius: 10px;
  margin-left: 5px;
  display: flex;
}

.ex1 button {
  padding: 15px;
  border-radius: 30px;
  background-color: blueviolet;
  color: azure;
  font-weight: 600;
  cursor: pointer;
}

.ex3{
  background-color: rgb(107, 82, 247);
  align-items: center;
  border: 1px dotted black;
  border-radius: 10px;
  margin-left: 5px;
  display: flex;
  padding: 15px;
  gap: 15px;
}

.ex4{
  background-color: rgb(236, 160, 28);
  align-items: center;
  border: 1px dotted black;
  border-radius: 10px;
  margin-left: 5px;
  display: flex;
  padding: 15px;
  gap: 15px;
}


.ex5{
  background-color: rgb(107, 82, 247);
  align-items: center;
  border: 1px dotted black;
  border-radius: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.ex5 li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}