* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(244,101,101,0.9191877434567577) 50%, rgba(218,41,71,1) 100%); 
  font-family: 'Courier New', Courier, monospace;
}