
.layout{
    padding: 9.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.layout h1{
    text-align: center;
    margin-top: 2rem;
    margin-right: 12rem;
    text-align: center;
}

