 /* Estilo do container do Menu */
 .menu {
  background-color: #bdf179;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  font-size: 2em;
}

.menu-user-info {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-self: left;
  margin-left: 1rem;
}

.menu-logout button{
  margin-top: 3%;
  padding: 1rem;
  margin-right: 0.90rem;
  border-radius: 15px;
  border: none;
  background-color: #f85022;
  color: #1e0a0a;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8em;
}

.menu-logout button:hover {
  transition: background-color 0.5s ease-in;
  background-color: rgba(248, 80, 34, 0.5);
}
