 /* Estilo do container do Menu */
 .menu div {
  background-color: #ffffff;
  padding: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
  text-align: center;
}

/* Estilo do parágrafo de boas-vindas */
.menu p {
  font-size: 1.2rem;
  color: #555;
  margin: 5px 0;
}

/* Estilo específico para o nome do usuário */
.menu p:first-of-type {
  font-weight: bold;
  font-size: 1.4rem;
  color: #333;
}

/* Estilo do botão de Logout */
.menu button {
  background-color: #f44336; /* Vermelho */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Efeito hover no botão */
.menu button:hover {
  background-color: #e53935;
}

/* Responsividade */
@media (max-width: 480px) {
    .menu div {
    padding: 15px;
    width: 90%;
  }

  .menu p {
    font-size: 1rem;
  }

  .menu button {
    font-size: 1rem;
  }
}
